html {
  font-size: 62.5%;
  box-sizing: border-box; }

*, *::before, *::after {
  box-sizing: inherit; }

body {
  width: 90%;
  padding: 0;
  margin: 0;
  line-height: 1.6;
  font-family: "Poppins", sans-serif;
  background-color: #f8e6ce;
  margin: 0 auto; }

ul {
  list-style-type: none; }

.navbar a {
  font-size: 2em; }
  .navbar a:hover {
    color: white; }

.footer h3 {
  font-size: 3em;
  font-weight: 600;
  color: #404040; }

.footer p {
  font-size: 2em;
  font-weight: 400; }

.footer h5 {
  font-size: 2.5em;
  font-weight: 600;
  color: #404040; }

.footer a {
  font-size: 2rem; }

.carousel-title {
  font-family: "Dancing Script", cursive;
  font-size: 10rem; }

.imgs-carousel {
  height: calc(100dvh - 126px);
  object-fit: cover;
  border-radius: 5px; }

.img-about-us {
  width: 300px;
  height: 300px;
  border-radius: 5%; }

.section-about-us {
  max-width: 1500px;
  margin-top: 5rem;
  background-color: white;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding: 2rem 0.5rem 1rem 0.5rem; }

.section-about-us h3,
.footer h3 {
  font-size: 3em;
  font-weight: 600;
  color: #404040; }

.section-about-us p,
.footer p {
  font-size: 2em;
  font-weight: 400; }

.footer h5 {
  font-size: 2.5em;
  font-weight: 600;
  color: #404040; }

.footer a {
  font-size: 2rem; }

.product-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 1fr 1fr 1fr;
  gap: 10px 10px;
  grid-auto-flow: row;
  grid-template-areas: "product-heading product-heading product-heading" "product1 product2 product3" "product4 product5 product6" "product7 product8 product9";
  background-color: #fff9f2;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem; }
  .product-container .product-heading {
    grid-area: product-heading;
    text-align: center; }
    .product-container .product-heading span {
      color: #ff84fe;
      font-size: 2.5em; }
    .product-container .product-heading h2 {
      font-size: 5rem;
      color: #404040;
      font-weight: 600; }
  .product-container .product-title {
    font-size: 3rem;
    font-weight: 500;
    color: black; }
  .product-container .price {
    color: #ff84fe;
    font-size: 2.5rem; }
  .product-container .product1 {
    grid-area: product1; }
  .product-container .prod, .product-container .product2, .product-container .product3, .product-container .product4, .product-container .product5, .product-container .product6, .product-container .product7, .product-container .product8, .product-container .product9 {
    margin: 0 auto;
    border-radius: 7px;
    padding: 10px; }
    .product-container .prod:hover, .product-container .product2:hover, .product-container .product3:hover, .product-container .product4:hover, .product-container .product5:hover, .product-container .product6:hover, .product-container .product7:hover, .product-container .product8:hover, .product-container .product9:hover {
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }
    .product-container .prod img, .product-container .product2 img, .product-container .product3 img, .product-container .product4 img, .product-container .product5 img, .product-container .product6 img, .product-container .product7 img, .product-container .product8 img, .product-container .product9 img {
      object-fit: cover;
      transition: all 0.7s; }
      .product-container .prod img:hover, .product-container .product2 img:hover, .product-container .product3 img:hover, .product-container .product4 img:hover, .product-container .product5 img:hover, .product-container .product6 img:hover, .product-container .product7 img:hover, .product-container .product8 img:hover, .product-container .product9 img:hover {
        transform: scale(1.1); }
      .product-container .prod img figure, .product-container .product2 img figure, .product-container .product3 img figure, .product-container .product4 img figure, .product-container .product5 img figure, .product-container .product6 img figure, .product-container .product7 img figure, .product-container .product8 img figure, .product-container .product9 img figure {
        overflow: hidden; }
  .product-container .product2 {
    grid-area: product2; }
  .product-container .product3 {
    grid-area: product3; }
  .product-container .product4 {
    grid-area: product4; }
  .product-container .product5 {
    grid-area: product5; }
  .product-container .product6 {
    grid-area: product6; }
  .product-container .product7 {
    grid-area: product7; }
  .product-container .product8 {
    grid-area: product8; }
  .product-container .product9 {
    grid-area: product9; }

.main-services {
  width: 100%;
  margin: 0 auto;
  background-color: #fff9f2;
  padding: 40px; }

.heading-services {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .heading-services span {
    color: #ff84fe;
    font-size: 2.5em; }
  .heading-services h1 {
    font-size: 5rem;
    color: #404040;
    font-weight: 600; }

.services-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.5fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "heading-services heading-services" "services-content1 img-services1" "img-services2 services-content2" "services-content3 img-content3";
  border: 0.5px solid #fff9f2; }
  .services-container:hover {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }
  .services-container .contents__services {
    display: flex;
    flex-direction: column;
    justify-content: start; }
    .services-container .contents__services h2 {
      font-size: 3rem;
      color: #404040;
      font-weight: 600;
      padding: 10px; }
    .services-container .contents__services p {
      padding: 10px;
      font-size: 2rem; }

.heading-services {
  grid-area: heading-services; }

.services-content1 {
  grid-area: services-content1; }

.img-services1 {
  grid-area: img-services1; }

.img-services2 {
  grid-area: img-services2; }

.services-content2 {
  grid-area: services-content2; }

.services-content3 {
  grid-area: services-content3; }

.img-content3 {
  grid-area: img-content3; }

.navbar a {
  font-size: 2em; }
  .navbar a:hover {
    color: white; }

.mainBlog {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  background-color: #fff9f2; }
  .mainBlog .blog-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    .mainBlog .blog-heading span {
      color: #ff84fe;
      font-size: 2.5em; }
    .mainBlog .blog-heading h1 {
      font-size: 5rem;
      color: #404040;
      font-weight: 600; }
  .mainBlog .blog-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    flex-wrap: wrap; }
    .mainBlog .blog-container .blog-box {
      width: 250px;
      background-color: white;
      border: 1px solid #ececec;
      margin: 20px; }
      .mainBlog .blog-container .blog-box .blog-image {
        width: 100%;
        height: auto; }
        .mainBlog .blog-container .blog-box .blog-image img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center; }
      .mainBlog .blog-container .blog-box .blog-text {
        padding: 30px;
        display: flex;
        flex-direction: column; }
        .mainBlog .blog-container .blog-box .blog-text span {
          color: #ff84fe;
          font-size: 1.5rem; }
        .mainBlog .blog-container .blog-box .blog-text p {
          color: #9b9b9b;
          font-size: 1.5rem;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
          margin: 20px 0px; }
        .mainBlog .blog-container .blog-box .blog-text a {
          text-decoration: none;
          color: black;
          font-size: 1.5rem; }
          .mainBlog .blog-container .blog-box .blog-text a:hover {
            color: #ff84fe;
            transition: all ease 0.3s; }
        .mainBlog .blog-container .blog-box .blog-text .blog-title {
          font-size: 2rem;
          color: #404040;
          font-weight: 500; }
          .mainBlog .blog-container .blog-box .blog-text .blog-title:hover {
            color: #ff84fe;
            transition: all ease 0.3s; }
  .mainBlog .blog-subscribe {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: white; }
    .mainBlog .blog-subscribe .blog-heading {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      color: #404040; }
      .mainBlog .blog-subscribe .blog-heading h2 {
        padding: 2px; }
      .mainBlog .blog-subscribe .blog-heading span {
        font-size: 5rem; }
    .mainBlog .blog-subscribe .subscribe-form {
      width: 100%;
      margin: 0 auto;
      font-size: 1.5rem; }
      .mainBlog .blog-subscribe .subscribe-form form {
        width: 500px;
        margin: 0 auto; }
        .mainBlog .blog-subscribe .subscribe-form form input {
          width: 300px;
          margin: 0 auto; }

.form-main {
  background-color: #fff9f2;
  margin: 0 auto;
  max-width: 90%;
  justify-content: center; }
  .form-main span {
    display: flex;
    justify-content: center;
    color: #ff84fe;
    font-size: 2.5rem; }
  .form-main h2 {
    display: flex;
    justify-content: center;
    color: #404040;
    font-size: 5rem;
    color: #404040;
    font-weight: 600;
    margin-bottom: 20px; }
  .form-main #map {
    height: auto;
    width: 50%;
    margin: 0 auto; }

.form-container {
  height: calc(100dvh - 126px);
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  padding: 20px; }
  .form-container form {
    width: 50%;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    background-color: #f9f9f9; }
  .form-container label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 2rem; }
  .form-container input[type="text"],
  .form-container textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    box-shadow: 5px solid #111;
    border-radius: 3px; }

@media only screen and (max-width: 480px) {
  .product-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(10fr);
    grid-auto-flow: column;
    grid-template-areas: "product-heading" "product1" "product2" "product3" "product4" "product5" "product6" "product7" "product8" "product9";
    background-color: white;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    padding-bottom: 0.25rem; } }

@media only screen and (max-width: 480px) {
  .form-main {
    width: 100%; }
    .form-main #map {
      width: 100%; }
  .form-container {
    flex-direction: column;
    padding: 0; }
    .form-container form {
      width: 100%;
      padding: 5px; } }

@media only screen and (max-width: 480px) {
  .main-services {
    padding: 15px; }
  .services-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7, 1fr);
    margin: 0 auto;
    gap: 0px 0px;
    grid-auto-flow: column;
    grid-template-areas: "heading-services" "services-content1" "img-services1" "services-content2" "img-services2 " "services-content3 " "img-content3";
    border: 0.5px solid #fff9f2; }
    .services-container:hover {
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }
    .services-container .contents__services {
      justify-content: center;
      margin: 0 auto; }
      .services-container .contents__services h2 {
        padding: 0; }
      .services-container .contents__services p {
        padding: 0; } }

.button[type="submit"] {
  background-color: #404040;
  color: white;
  font-size: 1.5rem;
  font-weight: 500;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 3px;
  display: flex;
  justify-content: center; }

.button[type="submit"]:hover {
  background-color: #fa73fa;
  color: #272727; }

.btn__form {
  width: 120px; }
