* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  list-style: none;
}
/* Index styles*/
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color: antiquewhite;
  width: 90%;
  margin: 0 auto;
  font-family: 'Poppins', sans-serif;
}

/* elimina decoracion de lista de redes sociales */
ul{
  list-style: none;
}
.carousel-title{
  font-family: 'Dancing Script', cursive;
  font-size: 5rem;
}
.img-about-us{
  width: 300px;
  height: 300px;
  border-radius: 5%;
}
.section-about-us{
 margin-top: 1rem;
}
/* blog styles */
.mainBlog{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  background-color: rgb(255, 249, 242);
}
.blog-heading{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.blog-heading span{
  color: #FF84FE;
}
.blog-heading h1{
  font-size: 2.5rem;
  color: #404040;
  font-weight: 600;
}
.blog-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0px;
  flex-wrap: wrap;
}
.blog-box{
  width: 250px;
  background-color: white;
  border: 1px solid #ececec;
  margin: 20px;
}
.blog-image{
  width: 100%;
  height: auto;
}
.blog-image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.blog-text{
  padding: 30px;
  display: flex;
  flex-direction: column;
}
.blog-text span{
  color: #FF84FE;
  font-size: 0.9rem;
}
.blog-text .blog-title{
  font-size: 1.3rem;
  font-weight: 500;
  color: #272727;
}
.blog-text .blog-title:hover{
  color: #FF84FE;
  transition: all ease 0.3s;
}
.blog-text p{
  color: #9b9b9b;
  font-size: 0.9rem;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow:ellipsis;
  margin: 20px 0px;
}
.blog-text a{
  text-decoration: none;
color: black;
}
.blog-text a:hover{
color: #FF84FE;
transition: all ease 0.3s;
}
/* blog section subscribe*/
.blog-subscribe{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0px;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: #fa73fa;
  height: auto;
}
.subscribe-heading{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; 
  color:white;
}
.subscribe-heading h2{
  font-family: 'Dancing Script', cursive;
  padding: 2px;
}
.subscribe-heading span{
  font-size: 5rem;
}
.subscribe-form form input{
  background-color: #554255;
  color: white;
margin-top: 10px;
text-align: center;
}

/* contacto styles*/
.form {
  width: 50%;
  background: rgb(0, 0, 0, 0.491);
  margin: 1rem auto 1rem auto;
  padding: 20px;
  color: white;
  border-radius: 5%;
}
.headerForm {
  text-align: center;
}
.formInput {
  width: 100%;
  height: 45px;
  background: #ca949499;
  padding: 10px;
  outline: none;
  border: none;
  border-bottom: 2px solid #747171;
  font-size: 1rem;
  color: white;

}
.formText {
  width: 100%;
  background: #ca949499;
  padding: 10px;
  outline: none;
  border: none;
  border-bottom: 2px solid #eab6b6;
  font-size: 1rem;
  color: white;
}
.enviar {
  width: 100%;
  height: 50px;
  background: rgb(0, 0, 0, 0.6);
  padding: 10px;
  outline: none;
  border: none;
  color: white;
  background: #5f5c5c;
  text-align: center;
  font-size: 1.3rem;
}
.enviar:hover {
  background: white;
  color: black;
}
/* styles servicios*/
.imgArticles {
  width: 200px;
}
.mainServices {
  background-image: url(../img/background-image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

