html {
  font-size: 62.5%;
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  width: 90%;
  padding: 0;
  margin: 0;
  line-height: 1.6;
  font-family: "Poppins", sans-serif;
  background-color: $body-color;
  margin: 0 auto;
}
ul {
  list-style-type: none;
}
// atrbutos al header navbar //
.navbar a {
  font-size: 2em;
  &:hover {
    color: white;
  }
}
// atributos al footer //
.footer {
  h3 {
    font-size: 3em;
    font-weight: 600;
    color: $heading-color;
  }
  p {
    font-size: 2em;
    font-weight: 400;
  }
}
.footer {
  h5 {
    font-size: 2.5em;
    font-weight: 600;
    color: $heading-color;
  }
  a {
    font-size: 2rem;
  }
}
.footer-rrss{
  a{
    padding-left: 0;
    margin-right: 5rem;
  }
}
