.main-services {
  width: 100%;
  margin: 0 auto;
  background-color: $main-color;
  padding: 40px;
}
.heading-services {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  span {
    color: $span-color;
    font-size: 2.5em;
  }
  h1 {
    font-size: 5rem;
    color: $heading-color;
    font-weight: 600;
  }
}
.services-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.5fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "heading-services heading-services"
    "services-content1 img-services1"
    "img-services2 services-content2"
    "services-content3 img-content3";
  border: 0.5px solid $main-color;
  &:hover {
    box-shadow: $boxshadow-color;
  }
  .contents__services {
    display: flex;
    flex-direction: column;
    justify-content: start;
    h2 {
      font-size: 3rem;
      color: $heading-color;
      font-weight: 600;
      padding: 10px;
    }
    p {
      padding: 10px;
      font-size: 2rem;
    }
  }
}

.heading-services {
  grid-area: heading-services;
}

.services-content1 {
  grid-area: services-content1;
}

.img-services1 {
  grid-area: img-services1;
}

.img-services2 {
  grid-area: img-services2;
}

.services-content2 {
  grid-area: services-content2;
}

.services-content3 {
  grid-area: services-content3;
}

.img-content3 {
  grid-area: img-content3;
}
.img-content img {
  display: inline-block;
  margin: 0 auto;
}
