@media only screen and (max-width: 480px) {
  .product-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(10fr);
    grid-auto-flow: column;
    grid-template-areas:
      "product-heading"
      "product1"
      "product2"
      "product3"
      "product4"
      "product5"
      "product6"
      "product7"
      "product8"
      "product9";
    background-color: white;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    padding-bottom: 0.25rem;
  }
}
// media query de formulario de contacto //
@media only screen and (max-width: 480px){
  .form-main{
    width: 100%;
    #map{
      width: 100%;
  }
  
  }
  .form-container{
    flex-direction: column;
    padding: 0;
    form {
      width: 100%;
      padding: 5px;
    }
  }
}
// media query de pagina de servicios//
@media only screen and (max-width: 480px) {
  .main-services{
    padding: 15px;
  }
  .services-container{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(7 , 1fr);
  margin: 0 auto;
  gap: 0px 0px;
  grid-auto-flow: column;
  grid-template-areas:
    "heading-services"
    "services-content1"
    "img-services1"
    "services-content2"
    "img-services2 "
    "services-content3 "
    "img-content3";
  border: 0.5px solid $main-color;
  &:hover {
    box-shadow: $boxshadow-color;
  }
  .contents__services{
    justify-content: center;
    margin: 0 auto;
    h2{
      padding:0;
    }
    p{
      padding: 0;
    }
  }
}

}