@media only screen and (max-width: 480px) {
  .product-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(10fr);
    grid-auto-flow: column;
    grid-template-areas:
      "product-heading"
      "product1"
      "product2"
      "product3"
      "product4"
      "product5"
      "product6"
      "product7"
      "product8"
      "product9";
    background-color: white;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    padding-bottom: 0.25rem;
  }
}